@font-face {
  font-family: 'iconfont';  /* project id 1464161 */
  src: url('//at.alicdn.com/t/font_1464161_mzbmezp5klc.eot');
  src: url('//at.alicdn.com/t/font_1464161_mzbmezp5klc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1464161_mzbmezp5klc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1464161_mzbmezp5klc.woff') format('woff'),
  url('//at.alicdn.com/t/font_1464161_mzbmezp5klc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1464161_mzbmezp5klc.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


